@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-brands/css/uicons-brands.css");
body {
  background-color: #060622;
  color: #fff;
  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0px;
}

.hadak {
  background-image: linear-gradient(120deg, #0b1141, #1f3fac);
  text-align: center;
  box-shadow: 0px 4px 0px #ffe100;
  border-radius: 0px 0px 10px 10px;
}
.ghir {
  text-align: center;
}
.a4 {
  background-image: linear-gradient(120deg, #facc16, #f6a50d);
  padding: 15px 50px;
  line-height: 90px;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
}
h2,
p {
  margin-left: 20px;
  margin-right: 20px;
}
p {
  color: #d0d4dd;
  margin-bottom: 0px;
  margin-top: 0;
  padding-bottom: 0px;
}

.hdkdld {
  text-align: center;
  margin-top: 20px;
}
.hdkdld {
  border-radius: 10px;
}
.ajyftft3 {
  color: #d0d4dd;
  margin: 10px;
  text-decoration: none;
}
.ahfgdr2 {
  color: #d0d4dd;
  margin: 10px;
  text-decoration: none;
}
.adyrdy1 {
  color: #d0d4dd;
  margin: 10px;
  text-decoration: none;
}
.fi fi-brands-whatsapp,
fi fi-brands-telegram,
fi fi-brands-instagram {
  
  width: 10px;
}
h3{
  margin-bottom: 0;
}
